<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Express Inhaal examen</title>
</head>
<body>
	<form action="/add" method="POST">
		<input type="text" placeholder="naam" name="name">
		<input type="text" placeholder="examen" name="examen">
		<input type="text" placeholder="reden" name="reden">
		<input type="text" placeholder="datum" name="datum">
		<button type="submit">Submit</input>
	</form>
</body>
</html>