<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Search</title>
</head>
<body>
	<ul class="inhaals">
		<% for(var i=0; i < inhaal.length; i++) {%>
			<li class="inhaal">
				<span><%= inhaal[i].naam %></span>
				<span><%= inhaal[i].examen %></span>
				<span><%= inhaal[i].reden %></span>
				<span><%= inhaal[i].datum %></span>
			</li>
		<% } %>
	</lu>


	<form action="/search" method="POST">
		<input type="text" placeholder="naam" name="naam">
		<button type="submit">Search</input>
	</form>
</body>
</html>